
input[type="file"] {
    display: none;
}

.nameLabel{

}
.cv{
    text-align: left;
}

.resume{
text-align: right;
}
.nameAndLastname{
    display: flex;
    justify-content: space-around;
}
.minSymbol{
    font-weight:100;
}