/* font */
@font-face {
    font-family: 'HelveticaNeue';
    src: url('./fonts/HelveticaNeue.ttc') format('truetype');
    font-weight: normal;
}

.info{
    background-color:#f3eeee ;
    width: 1920px;
    height: 1080px;
}
textarea:focus,input:focus{
    outline: none
}
/* styling both containers */
.container{

    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
  
}
::-webkit-scrollbar{
    display: none;
}
/* styling each containers */
.inputDetails{
    text-align: left; 
}

.resume{
    margin-left: 40%;
    margin-top: -5%;
   background-color: white;
   height: 105%;

}

/* Styling header */
.infoHead{
    width: 798px;
    margin-left:130px;
    margin-top: 47px;
 border-bottom: 2px solid black;
 text-align: left;
 display: flex;
 justify-content: space-between;
}
/* styling name and lastname input */
.nameAndLastname{
    width: 798px;
    margin-left: 130px;
   display: flex;
   justify-content: space-between;
    
}
.nameAndLastname>label>input{
    height: 48px;
    width: 371px;
    outline: #BCBCBC;
    margin-top: -15px;
}
.nameAndLastname>label>h6{
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}
.minSymbol{
    font-family: HelveticaNeue;
    font-weight:300;
}

/*Styling Image uploading section */
.image{
margin-left: 130px;
margin-top: 5%;
display: inline-flex;
align-items: center;
width: 80%;
}
input[type="file"] {
    display: none;
}
.image>span{
    margin-left: 5%;
    color: white;
    display: inline-block;
width:115px;
text-align: center;
line-height: 35px;
background-color: #0E80BF;
border-radius: 5px;
cursor: pointer;
}
.image>span:hover{
   opacity: 0.8;
}


/* Styling about me blockquote */
.aboutMe{
    display: inline-block;
    margin-top: 5%;
    margin-left: 130px;
    width: 798px;
   font-weight: 900;
   
}
.aboutMe>textarea{
    margin-top: 2%;
    display: inline-block;
    width: 798px;
    height: 103px;
    overflow: auto;
    outline: #BCBCBC;
    outline: none;
}

/* Styling email and number input fields */
.emailLabel,.numberLabel{
    display: block;
    margin-left: 130px;
}

.emailLabel>input,.numberLabel>input{
    display: inline-block;
    width: 798px;
    margin-top: -15px;
    height: 48px;
}
.emailLabel>h6, .numberLabel>h6{
    margin-top: 5px
}
.numberLabel{
    margin-top: -25px;
}

/* Styling icons */
.fa-circle-check{
    position: absolute;
    margin-left: -29px;
    color: #98E37E;
}
.fa-triangle-exclamation{
    color: #F02424;
}
.fa-triangle-exclamation:hover+ .message{
    color: #F02424;
    font-size: 1em;
    width: 93%;
}
.fa-triangle-exclamation:hover{
cursor:help;
}
.fa-chevron-left{
    position: absolute;
    top: 57px;
    left:62px;
    font-size: 16px;
    cursor: pointer;
}
/* Styling button */


.backWard, .submit{
    width: 151px;
    height: 48px;
    background-color: #6B40E3;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
} 
.navigation{
    position: fixed;
    margin: 0;
   margin-top: 38%;
   width: 798px;
   margin-left: 130px;
   display: flex;
   justify-content: space-between;
}
