/* Styles for rendered cv */
/* styling icon */
@font-face {
    font-family: 'HelveticaNeue';
    src: url('./fonts/HelveticaNeue.ttc') format('truetype');
    font-weight: normal;
}
*{
    font-family: HelveticaNeue;
}
.icon{
    position: absolute;
    top: 88%;
    left: 60%;
}

/* Styling text Contents */
.resume{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.cvContent{
    margin-top: 20px;
    max-height:500px;
    width: 60%;
margin-left: 5%;
}

.fullName{
    width: 100%;
    height: 38px;
    color: #F93B1D;
    font-size: 34px;
    font-weight: 700;
}
.aboutMeCv{
    color: #F93B1D;
}
.resumeImg{
    width: 246px;
    height: 246px;
    border-radius: 30%;
    margin-top: 20px;
}
.fa-at, .fa-phone{
    font-size: 0.8em;
    color: #898989;
}
.resumeEmail{
    font-size: 18px;
    font-weight: 500;
}
.resumeNumber{
    font-size: 18px;
    font-weight: 500;
}
.resumeDetails{
    max-height:250px;
    overflow: scroll;
    font-family: HelveticaNeue;
    font-weight: 400;
}

