/* Styles for rendered cv */
/* styling icon */
.icon{
    position: absolute;
    top: 88%;
    left: 10%;
}
/* Styling text Contents */
.resume{
    position: absolute;
    max-width: 798px;
    min-width: 600px;
    height: 95%;
    margin-left: 1020px;
    margin-top: -70px;

 
}
.cvContent{
    display: flex;
    margin-top: 20px;
    max-height:450px;
 
    margin-left: 70px;
}
.infoCV{
   width: 60%;
}

.fullName{
    width: 100%;
    height: 38px;
    color: #F93B1D;
    font-size: 34px;
    font-weight: 700;
}
.aboutMeCv{
    color: #F93B1D;
}
.resumeImg{
    width: 246px;
    height: 246px;
    border-radius: 50%;
    margin-top: 20px;
}
.fa-at, .fa-phone{
    font-size: 0.8em;
    color: #898989;
}
.resumeEmail{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
}
.resumeNumber{    
    font-size: 18px;
    font-weight: 500;
}
.resumeDetails{
    max-height:150px;
    overflow: scroll;
    font-family: HelveticaNeue;
    font-weight: 400;
}

/* Styling experience */
.experienceCV{
    width: 90%;
    margin-left: 70px;
}
.experienceCV>h2{
    color: #F93B1D;
    font-size: 18px;
}
.experienceCV>p{
    font-weight: 500;
}
.startEnd{
    margin-top:-10px;
    font-style: italic;
    font-weight: 400;
}
.descriptionCV{
font-weight: 400;
height: 66px;
width: 100%;
}

/* Styling education */
.educationCV{
    width: 90%;
    margin-left: 70px
}
.educationCV>h2{
    color: #F93B1D;
    font-size: 18px;
}
.eduEnd{
    margin-top:-10px;
    font-style: italic;
    font-weight: 400;
}
.eduDescription{
    font-weight: 400;
    height: 66px;
    width: 100%;
    }


    /* Styling succesfull message */
    .succes{
        width: 427px;
        height: 167px;
        font-size: 28px;
        position: absolute;
        top: 20px;
        right: 70px;
        text-align: right;
    }
    .succes>div>i{
        cursor: pointer;
    }
    .succesMessage{
        color: #F93B1D;
    }
