.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  color: var(--dark-blue);
}
.logo,
.cart,
.login {
  display: flex;
  align-items: center;
  width: 20%;
}
.logo > h2 {
  margin-left: 10px;
}
.cart,
.login {
  justify-content: flex-end;
}
.icon {
  height: 35px;
}
.icona {
  height: 50px;
  margin: 25px;
}
.login > a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--dark-blue);
}
.login > a > img {
  margin-right: 5px;
}
